@import '../theme';

.filter-item {

  .ant-select {
    display: block;
    width: 100%;
  }
}

.filter-item-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.filter-list-input-label {
  color: $t-text--tip;
}

.filter-item-reset {
  flex: none;
}

.filter-item__headline {
  display: flex;
  align-items: center;

  > svg {
    width: 20px;
    height: 20px;
  }
}
