.filter-item {
  margin: 21px 15px;

  .ant-select {
    display: block;
    width: 100%;
  }
}

.filter-item-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.filter-list-input-label {
  margin-right: 10px;
  color: #777;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.filter-item-reset {
  margin-left: 10px;
  flex: none;
}

.filter-item__headline {
  display: flex;
  align-items: center;
  margin-bottom: 7px;

  > svg {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
}
