.item__headline,
.item__body {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}

.item {
  padding: .75rem 1rem 1rem;
  border-bottom: solid 2px #eee;
}

.item__links,
.item__sidenotes {
  flex: none;
}

.item__links {
  display: flex;
  margin-left: 1rem;
  margin-right: -.1cm;
}

.item__link {
  min-width: .5cm;
  height: .5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .1cm;
  opacity: .7;

  > img {
    height: 75%;
    display: block;
    margin: 0 auto;
  }
}

.item-footnotes {
  color: #777;
  font-size: .9rem;
}

.item-footnotes__header {
  display: inline;

  &::after {
    content: ': ';
  }
}

.item-footnotes__list {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.item-footnotes__item {
  display: inline;

  &:not(:last-child) {
    &::after {
      content: ', ';
    }
  }
}

.item__content {
  > p {
    margin: 0;
  }
}

.item__header {
  > h3 {
    margin: 0;
  }
}

.item__sidenotes {
  font-size: .9rem;
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: right;
}
