.legend__hint {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 .5rem;
  color: #999;
  font-size: .9rem;
}

.legend__bar {
  width: calc(100% - 2rem);
  display: flex;
  height: 1rem;
}

.legend__item {
  flex-grow: 2;
}

.legend__item--1 {
  background-color: #900;
}

.legend__item--2 {
  background-color: #960;
}

.legend__item--3 {
  background-color: #990;
}

.legend__item--4 {
  background-color: #090;
}

.legend__item--5 {
  background-color: #099;
}
