@import 'links';
@import 'rating';

.item__title {
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

.item__plot {
  max-width: 50rem;
  margin: 0;
}

.item__details {
  margin-top: .5rem;
  color: #999;
  font-size: .9rem;
}

.item__genre {
  margin-right: .5rem;
}

.movie__error {
  position: relative;
  display: inline-block;
  font-size: .9rem;
  font-weight: normal;

  &:hover {

    .movie__error-list {
      display: block !important;
    }
  }
}

.movie__error-icon {
  color: #f00;
  font-weight: bold;
  margin-left: .5rem;
  padding: .5rem;
  cursor: default;
}

.movie__error-list {
  list-style-type: none;
  padding: .5rem;
  background: #ddd;
  box-shadow: 0 0 .5rem 000;
  position: absolute;
  display: none;
  white-space: nowrap;
  z-index: 1;
}

.movie__error-item {
  // padding-left: 1rem;

  &::before {
    content: '-';
    width: 1rem;
    display: inline-block;
    text-align: center;
  }
}
