.stat {

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.stat__header {
  margin-bottom: .5em;
}

.stat__item-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

.stat__item {
  display: flex;
  width: 50%;
}

.stat-item__label {
  padding-left: .5em;
  width: 50%;
  box-sizing: border-box;
}

.stat-item__value {
  text-align: right;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-rounded {
    &::after {
      content: 'K';
      font-style: italic;
    }
  }
}
