.header {
}

.header__title {
  font-size: 1.2rem;
  margin: 0;
}

.header__description {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.header__count {
  margin-top: 1rem;
  font-weight: bold;
}
