.field-range__from {
  width: 3rem;
  display: inline-block;
  color: #999;
  font-size: .9rem;
}

.field-range__to {
  width: 3rem;
  display: inline-block;
  text-align: center;
  color: #999;
  font-size: .9rem;
}

.field-range__input {
  width: calc(50% - 4rem);
  margin: 0;
  box-sizing: border-box;
  padding: .1em .2em;
  outline: none;
  border: solid 1px #999;

  &:hover {
    border: solid 1px #00f;
  }

  &:focus {
    border: solid 1px #00f;
  }
}
