.field__sort {
  cursor: pointer;
  display: flex;
  margin: .5em 0;
}

.field__sort-icon {
  position: relative;
  height: 1.1em;
  width: 1em;
  opacity: 0;
  margin-left: .5rem;
  align-self: flex-end;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    transition: border 250ms;
  }

  &::before {
    top: 0;
    border-bottom: .5em solid currentColor;
  }

  &::after {
    bottom: 0;
    border-top: .5em solid currentColor;
  }

  .is-sort--1 & {
    opacity: 1;

    &::after {
      border-top-color: transparent;
    }

    &::before {
      border-bottom-width: 1em;
    }
  }

  .is-sort-1 & {
    opacity: 1;

    &::after {
      border-top-width: 1em;
    }

    &::before {
      border-bottom-color: transparent;
    }
  }
}
