.app-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: solid 1px #cacaca;
  flex-wrap: wrap;

  .ant-badge-count {
    top: .5rem !important;
    right: .5rem !important;
  }
}

.app-menu-button {
  flex: none;
  height: 4rem;
  width: 6rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  cursor: pointer; // for share button

  svg {
    color: #000;
    width: 30px;
    height: 30px;
  }

  &.selected {

    svg {
      color: #09f;
    }
  }
}
