.menu {
  width: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 5px #aaa;
  height: 50px;
}

.menu-item {
  cursor: pointer;
  padding: 5px;

  &.selected {
    svg {
      color: #09f;
    }
  }

  .ant-badge {
    display: block;
  }

  svg {
    color: #000;
    height: 30px;
    width: 30px;
    display: block;
  }

}
