.app-menu {
  flex: none;
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px #aaa;
  position: relative;
  z-index: 10;
  height: 1.5cm;
  user-select: none;
}

.app-menu-button {
  flex: none;
  height: 1.5cm;
  width: 1.5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  position: relative;

  > svg {
    width: 32px;
    height: 32px;
  }

  .selected > & {
    color: #fff;
    background-color: #09f;
  }
}


.app-menu-header {
  color: #000;
  flex: 1 1 auto;
  font-size: 20px;
  padding: 0 .2cm;

  &.selected {
    // color: #09f;
      // color: #fff;
  }
}

.app-menu-counter {
  font-size: 24px;
  line-height: 24px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #09f;
  color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .selected & {
    background-color: #fff;
    color: #09f;
  }
}
