@import 'errors';
@import 'links';

.m-list-item{
  display: table;
  width: 100%;
  background: #def;
  
  &:hover {
    background: #abf;
  }

  >div {
    display: table-cell;
  }
}

.video__imdb-votes {
  width: 8rem;
  text-align: right;
}

.video__imdb-rating {
  width: 8rem;
  text-align: right;
}

.video__metascore {
  width: 8rem;
  text-align: right;
}

.video__duration {
  width: 8rem;
  text-align: right;
}

.video__rated {
  width: 8rem;
  text-align: right;
}

.video__year {
  width: 8rem;
  text-align: right;
}

.video__info {
  width: 6rem;
  text-align: left;
}

.video__genre {
  width: 20rem;
  text-align: left;
}

.video__title {
  width: 20rem;
  text-align: left;
}
