.field__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media print {
    .field__filter {
      margin-left: 1rem; }
      .field__filter > span,
      .field__filter > input,
      .field__filter > select {
        width: auto;
        margin: 0 .5rem; } }

.field__filter-reset {
  width: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: width 250ms;
  transition: width 250ms;
  opacity: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch; }
  @media print {
    .field__filter-reset {
      display: none; } }
  .is-filter-active .field__filter-reset {
    width: 2em;
    opacity: 1; }
  .field__filter-reset::after, .field__filter-reset::before {
    position: absolute;
    left: .9em;
    top: 10%;
    content: '';
    height: 80%;
    width: 2px;
    background-color: currentColor; }
  .field__filter-reset::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .field__filter-reset::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.field__sort {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5em 0; }
  @media print {
    .field__sort {
      margin: 0; } }

.field__sort-icon {
  position: relative;
  height: 1.1em;
  width: 1em;
  opacity: 0;
  margin-left: .5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms; }
  .field__sort-icon::before, .field__sort-icon::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    -webkit-transition: border 250ms;
    transition: border 250ms; }
  .field__sort-icon::before {
    top: 0;
    border-bottom: .5em solid currentColor; }
  .field__sort-icon::after {
    bottom: 0;
    border-top: .5em solid currentColor; }
  .is-sort--1 .field__sort-icon {
    opacity: .8; }
    .is-sort--1 .field__sort-icon::after {
      border-top-color: transparent; }
    .is-sort--1 .field__sort-icon::before {
      border-bottom-width: 1em; }
  .is-sort-1 .field__sort-icon {
    opacity: .8; }
    .is-sort-1 .field__sort-icon::after {
      border-top-width: 1em; }
    .is-sort-1 .field__sort-icon::before {
      border-bottom-color: transparent; }
  @media print {
    .field__sort-icon {
      display: none; } }

.field {
  margin: 1em 0 2em; }
  .field:hover .field__sort-icon {
    opacity: .8; }
  .field:last-child {
    margin-bottom: .25rem; }
  @media print {
    .field {
      display: none;
      margin: 0; }
      .field.is-filter-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
.field-text__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1em; }
  .field-text__input::-ms-clear {
    display: none; }
.field-range__text {
  margin: 0 .5em; }
  .field-range__text:first-child {
    margin-left: 0; }

.field-range__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 1em; }
  .field-range__input::-ms-clear {
    display: none; }
.field-dictionary__select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 1em; }
.field-date__text {
  margin: 0 .5em; }
  .field-date__text:first-child {
    margin-left: 0; }

.field-date__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 1em; }
  .field-date__input::-ms-clear {
    display: none; }
.field-list {
  margin-top: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  padding-right: .1rem;
  /* Prevents repaints on scroll */
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
.count__visible {
  font-weight: bold; }

.count__filtered {
  font-size: .9em; }
.item-list {
  /* Prevents repaints on scroll */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media print {
    .item-list {
      height: auto;
      overflow: visible;
      margin: 0 !important; } }
  @media (max-width: 800px) {
    .item-list {
      margin-left: 15rem; } }

.item-list__message {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem; }

.item {
  margin: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media print {
    .item {
      display: block;
      margin: .75rem 0 0; } }
  @media (max-width: 800px) {
    .item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media print {
    .item__description {
      display: block;
      width: 100%; } }

.item__title {
  font-weight: bold; }

.item__content {
  max-width: 50rem;
  margin: .5rem 0; }
  @media print {
    .item__content {
      max-width: none;
      margin: 0; } }

.item-warning {
  position: relative;
  display: inline-block;
  font-size: .9rem;
  font-weight: normal; }
  @media print {
    .item-warning {
      display: none; } }
  .item-warning:hover .item-warning__list {
    display: block; }

.item-warning__icon {
  font-weight: bold;
  margin-left: .5rem;
  padding: .5rem;
  cursor: default; }

.item-warning__list {
  list-style-type: none;
  position: absolute;
  display: none;
  white-space: nowrap;
  z-index: 1; }

.item-warning__item::before {
  content: '-';
  width: 1rem;
  display: inline-block;
  text-align: center; }

.item-warning__item:not(:last-child)::after {
  content: ','; }

.item-warning__item:last-child::after {
  content: '.'; }

.item-detail {
  font-size: .9rem;
  margin-bottom: .1rem; }
  @media print {
    .item-detail {
      display: none; } }
  @media (max-width: 800px) {
    .item-detail {
      display: none; } }

.item-detail__header {
  display: inline; }
  .item-detail__header::after {
    content: ': '; }

.item-detail__list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.item-detail__list-item {
  display: inline; }
  .item-detail__list-item:not(:last-child)::after {
    content: ', '; }

.item-summary {
  font-size: .9rem;
  text-align: right; }
  @media print {
    .item-summary {
      display: none; } }
  @media (max-width: 800px) {
    .item-summary {
      text-align: left; } }

.item-summary__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.item-summary__list-item {
  margin-bottom: .25rem; }
  @media (max-width: 800px) {
    .item-summary__list-item:not(:first-child) {
      display: inline; }
      .item-summary__list-item:not(:first-child):not(:last-child)::after {
        content: ',';
        margin-right: .5rem; } }

.item__link {
  height: 1.2rem;
  padding: .25rem;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  display: inline-block;
  opacity: .6; }
  .item__link:hover {
    opacity: 1; }
  .item__link > img {
    height: 100%; }
  .item__link:last-child {
    margin-right: -.3rem; }
  @media print {
    .item__link {
      display: none; } }
.legend__list {
  margin: 2em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none; }

.legend__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1em;
  position: relative;
  font-size: .9rem; }
  .legend__item::after {
    position: absolute;
    bottom: 100%;
    width: 100%;
    margin-bottom: .25rem;
    text-align: center; }
  .legend__item.t-rank__bg--0::after {
    content: '?'; }
  .legend__item.t-rank__bg--1::after {
    content: 'BAD'; }
  .legend__item.t-rank__bg--5::after {
    content: 'GOOD'; }
.stat-list {
  margin: 1em 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  /* Prevents repaints on scroll */
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.stat:not(:last-child) {
  margin-bottom: 1em; }

.stat__header {
  margin-bottom: .5em; }

.stat__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.stat__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.stat-item__label {
  padding-left: .5em;
  width: 50%;
  box-sizing: border-box; }

.stat-item__value {
  text-align: right;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis; }
  .stat-item__value.is-rounded::after {
    content: 'K';
    font-style: italic; }
@media print {
  body {
    display: block;
    height: auto; } }

@media (max-width: 800px) {
  body {
    height: auto; } }

.header__title {
  font-size: 1.2rem;
  margin: 0; }

.header__description {
  font-size: 1rem;
  font-weight: normal;
  margin: 0; }
  @media print {
    .header__description {
      display: none; } }

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  @media print {
    .panel {
      display: block; } }
  @media (max-width: 800px) {
    .panel {
      width: 15rem; } }

@media (max-width: 800px) {
  .panel--left {
    position: fixed; } }

@media print {
  .panel--left {
    width: 100%;
    position: static !important; } }

@media (max-width: 800px) {
  .panel--right {
    display: none; } }

@media print {
  .panel--right {
    display: none; } }

.t-box {
  padding: .75rem;
  box-sizing: border-box;
  -webkit-transition: box-shadow 250ms, background-color 250ms;
  transition: box-shadow 250ms, background-color 250ms; }
  @media print {
    .t-box {
      background-color: transparent;
      box-shadow: none;
      padding: 0; } }

.t-input {
  outline: 0;
  padding: .15em;
  box-sizing: border-box;
  line-height: 1.2rem;
  border-width: 1px;
  border-style: solid; }
  @media print {
    .t-input {
      border-color: transparent;
      background: inherit;
      min-width: 1px;
      font-size: inherit;
      padding: 0; } }
