.item__description {
  display: flex;
  flex-direction: column;

  @media print {
    display: block;
    width: 100%;
  }
}

.item__title {
  font-weight: bold;
}

.item__content {
  max-width: 50rem;
  margin: .5rem 0;

  @media print {
    max-width: none;
    margin: 0;
  }
}
