.item-summary {
  font-size: .9rem;
  text-align: right;

  @media print {
    display: none;
  }

  @media (max-width: 800px) {
    text-align: left;
  }
}

.item-summary__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-summary__list-item {
  margin-bottom: .25rem;

  @media (max-width: 800px) {

    &:not(:first-child) {
      display: inline;

      &:not(:last-child)::after {
        content: ',';
        margin-right: .5rem;
      }
    }
  }
}
