.item__warning {
  position: relative;
  display: inline-block;
  font-size: .9rem;
  font-weight: normal;

  @media print {
    display: none;
  }

  &:hover {

    .item__warning-list {
      display: block;
    }
  }
}

.item__warning-icon {
  font-weight: bold;
  margin-left: .5rem;
  padding: .5rem;
  cursor: default;
}

.item__warning-list {
  list-style-type: none;
  position: absolute;
  display: none;
  white-space: nowrap;
  z-index: 1;
}

.item__warning-item {

  &::before {
    content: '-';
    width: 1rem;
    display: inline-block;
    text-align: center;
  }

  &:not(:last-child) {

    &::after {
      content: ',';
    }
  }

  &:last-child {

    &::after {
      content: '.';
    }
  }
}
