.item-container {
  padding: .25rem;
  box-sizing: border-box;
}

.item {
  display: flex;
  // height: 100%;
  // margin: .5rem;
  justify-content: space-between;
  box-sizing: border-box;

  @media print {
    display: block;
    margin: .75rem 0 0;
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }
}
