@import 'rank';
@import 'scroll-chrome';
@import 'text';

html {
  color: $t-text;
  background-color: $t-bg;
}

.t-box {
  background-color: $t-box--background;
  box-shadow: 0 0 .25rem $t-box--shadow;
}

.t-input {
  background: $t-input-background;
  color: $t-input-color;
  border-color: $t-input-border;
}
