// sass-lint:disable no-misspelled-properties
body {
  scrollbar-base-color: #0f0;
  scrollbar-3dlight-color: #f00;
  scrollbar-highlight-color: #00f;
  scrollbar-track-color: #ff0;
  scrollbar-arrow-color: #f0f;
  scrollbar-shadow-color: #0ff;
  scrollbar-dark-shadow-color: #888;
}
