.t-error {
  color: $t-error--color;
}

.t-header {
  color: $t-header--color;
}

.t-label {
  color: $t-label--color;
}

.t-hint {
  color: $t-hint--color;
}

.t-value {
  color: $t-value--color;
}

.t-btn {
  color: $t-btn--color;
}
