/* Default, optional styling for the list.  */

$t-text: #444;
$t-bg: #fff;

$t-rank--0: #aaa;
$t-rank--1: #a00;
$t-rank--2: #a70;
$t-rank--3: #aa0;
$t-rank--4: #0a0;
$t-rank--5: #0aa;


$t-btn--color: #69f;
$t-error--color: #d00;
$t-header--color: #444;
$t-label--color: #444;
$t-value--color: #444;
$t-hint--color: #999;

$t-box--background: #f8f8f8;
$t-box--shadow: #aaa;

$t-input-background: #fff;
$t-input-border: #ccc;
$t-input-color: #666;
