.settings {
  padding: .5cm;
}

.settings-section {
  clear: both;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 2px #eee;
  text-transform: capitalize;

  .ant-btn {
    margin-top: .5rem;
    float: right;
  }

  ul {
    margin-left: 0;
  }
}

.settings-header {
  display: block;
  font-weight: bold;
  margin: 0 !important;
}

.settings-item {
  display: block;
  margin: 0 !important;
}

.settings-cols {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.filter-config-item {
  display: flex;
  margin-bottom: 1.5rem;

  > .ant-switch {
    margin-right: 1rem;
  }
}

.icon-caution {
  width: 2rem;
  height: 2rem;
}

.infobox {
  display: flex;
  width: 100%;
  align-items: center;
  
}
