.settings-section {
  margin: 20px;
}

.settings-cols {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.settings-header {
  text-transform: capitalize;
}

.settings-description {
  font-size: .9rem;
  margin-bottom: 20px;
}

.settings-reset {
  float: right;
}

/* Details */

.settings-item-details-section {
  margin-bottom: 25px;

  > .ant-checkbox-wrapper {
    display: block;
    font-size: 1.1rem;
  }
}

.settings-details-list {
  margin-left: 15px;

  .ant-checkbox-wrapper {
    display: block;
    margin: 10px !important;
  }
}

/* Filters */

.settings-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.settings-filter-item {
  display: block;
  margin-bottom: 15px;

  > .ant-switch {
    margin-right: 10px;
  }
}
