.settings-section {}

.settings-cols {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.settings-header {
  text-transform: capitalize;
}

.settings-description {
}

.settings-reset {
  float: right;
}


.settings-theme {
  display: flex;
  align-items: center;

  > .ant-switch {
    margin-right: 10px;
  }
}

/* Details */

.settings-item-details-section {

  > .ant-checkbox-wrapper {
    display: block;
  }
}

.settings-details-list {

  .ant-checkbox-wrapper {
    display: block;
  }
}

/* Filters */

.settings-filter-list {
  display: flex;
  flex-wrap: wrap;
}

.settings-filter-item {
  display: block;

  > .ant-switch {
    margin-right: 10px;
  }
}
