.top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #eee;
  box-shadow: 0 0 .5rem #aaa;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  z-index: 1;
  cursor: pointer;
}
