html {
  color: $t-text;
  background-color: $t-bg;
}

body {

  @media print {
    display: block;
    height: auto;
  }

  @media (max-width: 800px) {
    // display: block;
    height: auto;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateZ(0);

  @media print {
    display: block;
  }

  @media (max-width: 800px) {
    width: 15rem;
  }
}

.panel--left {

  @media (max-width: 800px) {
    position: fixed;
  }

  @media print {
    width: 100%;
    position: static !important;
  }
}

.panel--right {

  @media (max-width: 800px) {
    display: none;
  }

  @media print {
    display: none;
  }
}
