.movie__description {
  display: flex;
  flex-direction: column;
}

.movie__title {
  font-weight: bold;
}

.movie__plot {
  max-width: 50rem;
  margin: .5rem 0;
}

.movie__details {
  font-size: .9rem;
}

.movie__genre {
  margin-right: .5rem;
}
