.movie__description {
  display: flex;
  flex-direction: column;
}

.movie__title {
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

.movie__plot {
  max-width: 50rem;
  margin: 0;
}

.movie__details {
  margin-top: .5rem;
  color: #999;
  font-size: .9rem;
}

.movie__genre {
  margin-right: .5rem;
}
