@import 'description';
@import 'error';
@import 'summary';

.item {
  margin: .5rem;
  display: flex;
  justify-content: space-between;

  @media print {
    display: block;
    margin: .5rem 0 0;
  }
}

.legend {
  margin-top: 2.5em;
}

.header__title {
  font-size: 1.2rem;
  margin: 0;
}

.header__description {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1em;

  @media print {
    display: none;
    margin: 0;
  }
}

.stats {

  /* Prevents repaints on scroll */
  transform: translateZ(0);
  

  @media print {
    display: none;
  }
}

.filters {
  height: auto;

  @media print {
    width: 100%;
  }

  /* Prevents repaints on scroll */
  transform: translateZ(0);
}
