@import 'description';
@import 'error';
@import 'summary';

.item {
  margin: .5rem;
  display: flex;
  justify-content: space-between;
}

.legend {
  margin: 1em 0;
}

.header__title {
  font-size: 1.2rem;
  margin: 0;
}

.header__description {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1em;
}
