.movie__summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: .9rem;
  white-space: nowrap;
  margin-left: .5rem;

  > span,
  > a {
    margin-bottom: .25em;
    text-align: right;
  }

  @media print {
    display: block;
    width: 100%;

    > span,
    > a {
      &:not(:first-child) {
        margin: 0 1em 0 0;
      }
    }
  }
}

.portal__link {
  background: transparent no-repeat center center;
  height: 1.2rem;
  padding: 0 .5rem;
  margin: .25em 0;
  background-size: contain;
  opacity: .6;
  transition: opacity 250ms;
  float: right;

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-right: -.3rem;
  }

  @media print {
    display: none;
    margin: 0;
  }
}

.imdb__link {
  background-image: url('imdb.png');
  width: 2rem;
}

.filmweb__link {
  background-image: url('filmweb.png');
  width: 1rem;
}

.google__link {
  background-image: url('google.png');
  width: 1rem;
}

.rotten__link {
  background-image: url('rotten.png');
  width: 1rem;
}

.metacritic__link {
  background-image: url('metacritic.png');
  width: 1rem;
}

.mpaa__link {
  text-decoration: none;
}
