.movie__summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: .9rem;

  > span,
  > a {
    margin-bottom: .25em;
    text-align: right;
  }
}

.portal__link {
  background: transparent no-repeat center center;
  height: 1.2rem;
  padding: 0 .5rem;
  margin: .25em 0;
  background-size: contain;
  opacity: .6;
  transition: opacity 250ms;
  float: right;

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-right: -.3rem;
  }
}

.imdb__link {
  background-image: url('imdb.png');
  width: 2rem;
}

.filmweb__link {
  background-image: url('filmweb.png');
  width: 1rem;
}

.metacritic__link {
  background-image: url('metacritic.png');
  width: 1rem;
}

.mpaa__link {
  text-decoration: none;
}
