html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.app-content {
  flex: 1 1 auto;
  // height: 100%;
  overflow: auto;
  position: relative;
  box-sizing: border-box;

  > .ant-spin {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
