html {
  color: #444;
  font: 12px Verdana;

  @media (min-width: 1000px) {
    font-size: 13px;
  }

  @media (min-width: 1300px) {
    font-size: 14px;
  }

  @media (min-width: 1500px) {
    font-size: 15px;
  }

  @media (min-width: 2000px) {
    font-size: 16px;
  }
}

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}

.header__title {
  font-size: 1.2rem;
  margin: 0;
}

.header__description {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.filters {
  padding: .5rem;
  box-sizing: border-box;
  position: fixed;
  width: 22rem;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: #f8f8f8;
  box-shadow: 0 0 .5rem #aaa;
}

.stats {
  padding: .5rem;
  box-sizing: border-box;
  position: fixed;
  width: 22rem;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #f8f8f8;
  box-shadow: 0 0 .5rem #aaa;
}

.stat-item__label,
.legend__hint  {
  color: #999;
}
