$t-background--app: var(--t-background--app);
$t-background--content: var(--t-background--content);
$t-background--widget: var(--t-background--widget);
$t-border: var(--t-border);
$t-box--shadow: var(--t-box--shadow);
$t-icon--active: var(--t-icon--active);
$t-icon: var(--t-icon);
$t-rank--0: var(--t-rank--0);
$t-rank--1: var(--t-rank--1);
$t-rank--2: var(--t-rank--2);
$t-rank--3: var(--t-rank--3);
$t-rank--4: var(--t-rank--4);
$t-rank--5: var(--t-rank--5);
$t-scroll--thumb: var(--t-scroll--thumb);
$t-scroll--track: var(--t-scroll--track);
$t-text--contrast: var(--t-text--contrast);
$t-text--disabled: var(--t-text--disabled);
$t-text--shadow: var(--t-text--shadow);
$t-text--tip: var(--t-text--tip);
$t-text: var(--t-text);
