.field-dictionary__select{
  width: calc(100% - 2rem);
  margin: 0;
  box-sizing: border-box;
  padding: .1em .2em;
  outline: none;
  border: solid 1px #444;

  &:hover {
    border: solid 1px #00f;
  }

  &:focus {
    border: solid 1px #00f;
  }
}
