.item-detail {
  font-size: .9rem;
  // margin-bottom: .1rem;
}

.item-detail__header {
  display: inline;

  &::after {
    content: ': ';
  }
}

.item-detail__list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-detail__list-item {
  display: inline;

  &:not(:last-child) {
    &::after {
      content: ', ';
    }
  }
}
