.item-container {
  padding: .25cm .25cm .75cm .25cm;
  box-sizing: border-box;
}

.item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item__header {
  display: flex;
  align-items: center;
}
