.item__link {
  height: .5cm;
  min-width: .5cm;
  padding: .25rem;
  display: inline-block;
  opacity: .7;
  margin-left: 2px;

  > img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}
