.item-sidenotes {
  font-size: .9rem;
  text-align: right;
  flex: none;
}

.item-sidenotes__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-sidenotes__list-item {
  margin-bottom: .25rem;
}
