@import '../../theme';

.item-list {
  flex: 1 1 40em;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.item {
  padding: 10px;
  border-bottom: solid 1px #ddd;
}

.item-footnotes {
  display: flex;
  color: $t-text--tip;
}

.item-footnotes__header {
  margin-right: 5px;

  &::after {
    content: ': ';
  }
}

.item-footnotes__item {
  &:not(:last-child)::after {
    content: ', ';
  }
}

.item-headline {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.item-header {
}

.item-links {
  margin-left: auto;
  display: flex;
}

.item-link {
  padding: 10px;
  display: block;
  flex: none;
}

.item-link__image {
  opacity: .7;
  height: 20px;
  min-width: 20px;
  display: block;
}


.item-sidebar {
  float: right;
  text-align: right;
}

.item-sidebar-item {

  &.is-rank--0 {
    color: $t-rank--0;
  }

  &.is-rank--1 {
    color: $t-rank--1;
  }

  &.is-rank--2 {
    color: $t-rank--2;
  }

  &.is-rank--3 {
    color: $t-rank--3;
  }

  &.is-rank--4 {
    color: $t-rank--4;
  }

  &.is-rank--5 {
    color: $t-rank--5;
  }
}

.item-list-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  .ant-badge {
    margin-top: 20px;
  }

  svg {
    color: $t-icon;
    height: 30px;
    width: 30px;
    display: block;
  }
}
