@import 'details';
@import 'errors';
@import 'links';


.m-list-item {
  box-sizing: border-box;
  padding: .5rem;
  width: 100%;

  // @media (min-width: 1000px) {
  //   width: 50%;
  // }
  //
  // @media (min-width: 1500px) {
  //   width: 33.33%;
  // }
  //
  // @media (min-width: 2000px) {
  //   width: 25%;
  // }
}

.m-list-item__content {
  box-sizing: border-box;
  background-color: #f1f1f1;
  transition: background-color 200ms;
  padding: .5em;
  height: 100%;

  &:hover {
    background-color: #e1e1e1;
  }
}

.video__header {
  display: flex;
  align-items: center;
}
