@import 'filter';
@import 'sort';

.field {
  margin: 1em 0 2em;

  &:hover {

    .field__sort-icon {
      opacity: .8;
    }
  }

  &:last-child {
    margin-bottom: .25rem;
  }

  @media print {
    display: none;
    margin: 0;

    &.is-filter-active {
      display: flex;
      align-items: center;
    }
  }
}
